<section class="block container">
  <div class="block__header">
    <h2 class="block__heading">heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
      aperiam, architecto, libero consectetur nesciunt odit iure impedit
      repellat aliquam sunt iusto molestias sit. Distinctio, illum numquam vel
      laudantium laborum necessitatibus!
    </p>
  </div>
  <div class="cards" style="width: 33%; padding: 4rem;">
    <div class="card card--secondary">
      <header class="card__header">
        Entry
      </header>
      <div class="card__body">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
          culpa magnam temporibus illo veniam ipsum natus quod facere alias,
          perferendis explicabo, consectetur cumque totam cupiditate iste
          accusantium aliquid a. Ea.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skew-left">
  <div class="container">
    <h2 class="block__heading">heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
      aperiam, architecto, libero consectetur nesciunt odit iure impedit
      repellat aliquam sunt iusto molestias sit. Distinctio, illum numquam vel
      laudantium laborum necessitatibus!
    </p>
  </div>
</section>