<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready To Get Started?</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolores culpa tempore sint alias odio non, id consequuntur numquam perferendis omnis natus voluptatem earum, explicabo illum. Praesentium et impedit iste, adipisci laborum, non perspiciatis, quo odio inventore suscipit debitis? Praesentium voluptate eos adipisci rem tempora officiis corrupti reiciendis minima autem.</p>
    </div>
    <button class="btn btn--secondary btn--long">Get Started</button>
  </div>
</div>