<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprites.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur beatae obcaecati nisi nostrum explicabo modi nobis perspiciatis minus et accusantium saepe accusamus quam nulla error, quae voluptates mollitia illo dolorem distinctio reprehenderit adipisci. Eos, natus dolor. Architecto autem libero neque magnam iure eaque cupiditate necessitatibus laboriosam inventore, ratione molestiae sed.
  </div>
</div>