<div class="block container">
  <div class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, atque!</p>
  </div>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprites.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super easy to use</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia
        rerum architecto unde non nam. Unde, commodi ullam, eveniet ipsam ut
        incidunt nemo voluptatibus sapiente officia sed error ratione,
        voluptate quae.
      </p>
      <a href="#" class="link-arrow">Learn more</a>
    </div>
    <img class="feature__image" src="images/easy.jpg" alt="" />
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprites.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia
        rerum architecto unde non nam. Unde, commodi ullam, eveniet ipsam ut
        incidunt nemo voluptatibus sapiente officia sed error ratione,
        voluptate quae.
      </p>
      <a href="#" class="link-arrow">Learn more</a>
    </div>
    <img class="feature__image" src="images/fast.jpg" alt="" />
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprites.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia
        rerum architecto unde non nam. Unde, commodi ullam, eveniet ipsam ut
        incidunt nemo voluptatibus sapiente officia sed error ratione,
        voluptate quae.
      </p>
      <a href="#" class="link-arrow">Learn more</a>
    </div>
    <img class="feature__image" src="images/wordpress.jpg" alt="" />
  </article>
</div>