<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprites.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolore eveniet recusandae, ipsam voluptatum mollitia quam explicabo qui, iusto quidem, consequuntur sapiente? Quia ut reiciendis numquam eius aspernatur laborum asperiores voluptate corrupti, in, consectetur quae, odio expedita! Laboriosam minus fuga, voluptas consequatur eaque aliquam alias quibusdam totam veniam quae nobis.
    </p>
  </div>
</div>