<section class="block block--dark block--skew-right showcase">
  <div class="block__header">
    <h2 class="block__heading">User-friendly Control Panel</h2>
  </div>
  <div class="container grid grid--1x2">
    <img class="showcase__image" src="images/ipad.png" alt="" />
    <ul class="list showcase__list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprites.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Dolores, totam natus iste itaque sequi officia vero nemo fuga
              tempore repellat!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprites.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Dolores, totam natus iste itaque sequi officia vero nemo fuga
              tempore repellat!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprites.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Dolores, totam natus iste itaque sequi officia vero nemo fuga
              tempore repellat!
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>